<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/514cd396-f281-41a1-b376-6d348b606151/resourceGroups/rg-marat-musaev/providers/Microsoft.Web/sites/iacasp</ResourceId>
    <ResourceGroup>rg-marat-musaev</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://iacasp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <MSDeployServiceURL>iacasp.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>iacasp</DeployIisAppPath>
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>false</EnableMsDeployAppOffline>
    <UserName>$iacasp</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <EncryptedPassword>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAlXAWSuFSYkGw6N/sooFMXAAAAAACAAAAAAAQZgAAAAEAACAAAAAOJW1vOym6I5d1WwAtIPLpyKFZWaL/MfADp4LtNPoNTgAAAAAOgAAAAAIAACAAAACRacmvD+NOSjpOfOaLagYJFmGCagWbJRfvSfNUkm62UIAAAADIt/FfwsG3mJnzV/uRsrrUi/VKbBx6FBSVHpfjHV4dVBHuuYJ/4Vc0OmW2kI1Axmh7S4AjV3x8tEb1DsdR0d85mjrDvcJoL4JmLaHC8lQOUUmIetMiXWgD13FHrgUmqqhgd7N+yZX/o6Z6guGu7cUjqLR21XYq3v1EqLgd/Ey79EAAAAAPRpg1m9EdXLfMq/lLItRI5RV/GyP15ko51Y6EaQOSvr0dagrHaxPRfhPOlV46Ex58NGiVxMykEORfsyLgZ+Qz</EncryptedPassword>
    <History>False|2024-06-06T15:48:25.3194327Z||;</History>
    <EnvironmentSubType>AppServicePublishProfileVisual</EnvironmentSubType>
    <_PublishBasicAuthDisabled>true</_PublishBasicAuthDisabled>
  </PropertyGroup>
</Project>